:root {
    --display-font-stack: 'Heebo', sans-serif;
    --body-font-stack: 'Inter', 'Avenir', sans-serif;
    --primary-color: #48bb78;
    --link-color: #38a169;
    --link-color-hover: #2f855a;
}

body {
    font-size: 16px;
    font-family: var(--body-font-stack);
}

a { color: var(--link-color); }
a:hover { color: var(--link-color-hover); }

p {
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 2;
}

h1 {
    font-weight: black;
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-weight: 300;
    font-size: 1.25rem;
    margin: 1.5rem 0 1rem;
}

section {
    padding: 1rem 0;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.social-icons > a { margin-right: 0.5rem; }
.social-icons > a:last-of-type { margin-right: 0; }

.giant-emoji {
    font-size: 4rem;
    margin-right: 15px;
}

article {
    padding-top: 50px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group > label {
    font-weight: bold;
    margin: 15px 0 5px;
}

.form-group > input,textarea {
    width: 75%;
}

footer {
    padding-top: 50px;
}